@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css");

$primary-color: #41B3A3;
$secondary-color: #C38D9E;
$third-color: #85CDCA;
$fourth-color: #E27D60;

body {
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  margin: 70px 0;
}

.chatbar {
  background: $secondary-color;
  // border-top: 1px solid black;
  bottom: 0;
  display: flex;
  left: 0;
  padding: 5px;
  position: fixed;
  right: 0;
}

.chatbar-message,
.chatbar-username {
  border: 1px solid $fourth-color;
  border-radius: 5px;
  display: block;
  height: 50px;
  font-size: 16px;
  line-height: 40px;
  margin: 5px;
  padding: 0 10px;
}

.chatbar-message {
  flex: 8;
}

.chatbar-username {
  flex: 2;
}

.message {
  display: flex;
  padding: 5px;
}

.messagesContainer {
  margin-top: 90px;
  margin-left: 20px;
  margin-right: 20px;
  font-family: 'Sarabun', 'Arial';
}

.message.system {
  font-style: italic;
  padding: 10px 20px;
}

.message-content,
.message-username {
  font-size: 16px;
  overflow: hidden;
  margin: 5px;
  padding: 0 10px;
}

.logo {
  height: 35px;
  margin-left: 10px;
  margin-top: 15px;
  margin-right: 20px;
}

.message-content {
  flex: 8;
}

.message-username {
  flex: 2;
  font-weight: 700;
}

.navbar {
  background: $primary-color;
  // border-bottom: 1px solid black;
  height: 70px;
  left: 0;
  padding: 0 15px;
  position: fixed;
  right: 0;
  top: 0;
  font-family: 'Coiny', 'Arial';
  letter-spacing: 5px;
  margin-bottom: 50px;
}

.counter {
  float: right;
  margin-top: 25px;
  margin-right: 30px;
  font-size: 20px;
  color: white;
  font-family: 'Sarabun', 'Arial';
  letter-spacing: 0px;
}

.navbar-brand {
  color: white;
  display: block;
  float: left;
  font-weight: 700;
  font-size: 28px;
  height: 60px;
  line-height: 60px;
  padding: 0 10px;
  text-decoration: none;
}